Repository rancher/opni, pull requests merged in 2023-02, with the labels that each got.

#971 OEP Condition Status Optimizations & Scalability
  enhancements/alerting/20230124-status-optimizations.md
  images/alerting/condition-status-cache.png
  images/alerting/condition-status-no-cache.png
Labels: alerting, OEP

#996 Write up OTEL logging proposal
  enhancements/logging/20230130-use-otel-for-logging.md
  enhancements/logging/img/20230130-otel-logging-arch.png
  enhancements/monitoring/20230117-move-to-otel-collector.md
Labels: logging, OEP

#973 OEP Alerting cluster as a messaging system
  enhancements/alerting/20230124-messaging-system.md
  images/alerting/alerting-messaging-system-proposal.png
Labels: alerting, OEP

#977 OEP Sync downstream Prometheus alerting rules
  enhancements/alerting/20230126-sync-prometheus-rules.md
Labels: alerting, OEP

#1062 Alerting Endpoints : correctly update metadata & propagate deletion metadata changes
  pkg/apis/alerting/v1/alerting.endpoint.pb.go
  pkg/apis/alerting/v1/alerting.endpoint.pb.gw.go
  pkg/apis/alerting/v1/alerting.endpoint.proto
  plugins/alerting/pkg/alerting/api_endpoints.go
  test/integration/alerting/alerting_test.go
Labels: bug, alerting

#999 OEP: distinguishing the central agent
  enhancements/gateway/20220130-distinguishing-central-agent.md
  enhancements/gateway/README.md
Labels: agent, gateway/auth, OEP

#1004 OEP Alerting message templating
  enhancements/alerting/20230131-alerting-msg-templating.md
Labels: alerting, OEP

#1068 ListStatus API for batching list & status requests
  pkg/apis/alerting/v1/alerting.condition.pb.go
  pkg/apis/alerting/v1/alerting.condition.pb.gw.go
  pkg/apis/alerting/v1/alerting.condition.proto
  pkg/apis/alerting/v1/alerting.condition_grpc.pb.go
  pkg/apis/alerting/v1/extensions.go
  pkg/apis/alerting/v1/validate.go
  plugins/alerting/pkg/alerting/api_conditions.go
  plugins/alerting/pkg/alerting/util.go
  test/integration/alerting/alerting_test.go
Labels: enhancement, alerting

#1080 Downstream agent notifications OEP
  enhancements/alerting/20230216-downstream-agent-notifications.md
Labels: alerting, OEP

#1089 Set endpoints as default recipients to notifications & build them in router
  pkg/alerting/drivers/config/receiver.go
  pkg/alerting/drivers/cortex/cortex.go
  pkg/alerting/drivers/routing/default.go
  pkg/alerting/drivers/routing/routing.go
  pkg/alerting/interfaces/routing.go
  pkg/alerting/shared/shared.go
  pkg/alerting/storage/clientset.go
  pkg/apis/alerting/v1/alerting.endpoint.pb.go
  pkg/apis/alerting/v1/alerting.endpoint.pb.gw.go
  pkg/apis/alerting/v1/alerting.endpoint.proto
  pkg/apis/alerting/v1/alerting.endpoint_grpc.pb.go
  pkg/apis/alerting/v1/extensions.go
  pkg/apis/alerting/v1/validate.go
  plugins/alerting/pkg/alerting/api_endpoints.go
  plugins/alerting/pkg/alerting/condition_handlers.go
  test/integration/alerting/alerting_test.go
Labels: enhancement, alerting

#1100 Push message API
  go.mod
  go.sum
  pkg/alerting/interfaces/routing.go
  pkg/apis/alerting/v1/alerting.endpoint.pb.go
  pkg/apis/alerting/v1/alerting.endpoint.proto
  pkg/apis/alerting/v1/alerting.notification.pb.go
  pkg/apis/alerting/v1/alerting.notification.pb.gw.go
  pkg/apis/alerting/v1/alerting.notification.proto
  pkg/apis/alerting/v1/alerting.notification_grpc.pb.go
  pkg/apis/alerting/v1/alerting.trigger.pb.go
  pkg/apis/alerting/v1/alerting.trigger.pb.gw.go
  pkg/apis/alerting/v1/alerting.trigger_grpc.pb.go
  pkg/apis/alerting/v1/client.go
  pkg/apis/alerting/v1/extensions.go
  pkg/apis/alerting/v1/validate.go
  pkg/test/environment.go
  pkg/util/grpc.go
  plugins/alerting/pkg/alerting/api.go
  plugins/alerting/pkg/alerting/plugin.go
  test/integration/alerting/alerting_test.go
Labels: enhancement, alerting
