Repository rancher/opni, pull requests merged in 2023-05, with the labels that each got.

#1334 OTEL prometheus discovery controller : UX/consistency
  apis/monitoring/v1beta1/collector_config_types.go
  apis/monitoring/v1beta1/zz_generated.deepcopy.go
  config/crd/bases/monitoring.opni.io_collectorconfigs.yaml
  controllers/core_collector_controller.go
  controllers/core_collector_controller_test.go
  pkg/otel/templates/metrics.tmpl
  pkg/otel/templates_test.go
  pkg/otel/types.go
  pkg/resources/collector/collector.go
  pkg/resources/collector/discovery/discoverer.go
  pkg/resources/collector/discovery/podmonitor.go
  pkg/resources/collector/discovery/servicemonitor.go
  pkg/resources/collector/metrics.go
  pkg/resources/collector/templates.go
  pkg/resources/collector/workloads.go
  pkg/resources/monitoring/dashboards/home.json
  pkg/test/environment.go
  plugins/metrics/pkg/apis/node/node.pb.go
  plugins/metrics/pkg/apis/node/node.proto
Labels: enhancement, monitoring

#1396 Add support for nested message fields in http path templates
  pkg/management/extensions.go
  pkg/management/extensions_test.go
  pkg/test/mock/ext/ext.go
  pkg/test/testdata/plugins/ext/ext.pb.go
  pkg/test/testdata/plugins/ext/ext.proto
  pkg/test/testdata/plugins/ext/ext_grpc.pb.go
  plugins/metrics/pkg/apis/cortexops/cortexops_cli.pb.go
Labels: enhancement, gateway/api

#1412 correctly use sha256 for for aggregator config hashing
  pkg/resources/collector/workloads.go
Labels: bug
