Repository rancher/opni, pull requests merged in 2023-07, with the labels that each got.

#1542 Agent disconnect alarm enhancement
  plugins/alerting/pkg/alerting/alarms/v1/streams.go
  plugins/alerting/pkg/alerting/management.go
Labels: enhancement, alerting

#1555 best effort flake prevention in http caching test suite
  pkg/util/http_test.go
Labels: bug, testing

#1561 Allow editing roles and role bindings
  pkg/apis/core/v1/core.pb.go
  pkg/apis/core/v1/core.proto
  pkg/apis/core/v1/metadata.go
  pkg/apis/management/v1/management.pb.go
  pkg/apis/management/v1/management.proto
  pkg/apis/management/v1/management_grpc.pb.go
  pkg/management/rbac.go
  pkg/opni/commands/rbac.go
  pkg/storage/crds/rbac_store.go
  pkg/storage/etcd/rbac_store.go
  pkg/storage/jetstream/rbac_store.go
  pkg/storage/stores.go
  pkg/storage/taints.go
  pkg/storage/taints_test.go
  pkg/test/conformance/storage/rbac_store.go
  pkg/test/mock/storage/helpers.go
  pkg/test/mock/storage/stores.go
  test/integration/managementapi_rolebindings_test.go
  test/integration/managementapi_roles_test.go
Labels: enhancement, gateway/api

#1572 Fix import progress timestamp
  pkg/opni/commands/import_progress.go
Labels: plugin/metrics

#1585 Update server enhancements
  pkg/agent/v2/agent.go
  pkg/apis/control/v1/extensions.go
  pkg/apis/control/v1/remote.pb.go
  pkg/apis/control/v1/remote.proto
  pkg/gateway/gateway.go
  pkg/gateway/versions.go
  pkg/opni/commands/gateway.go
  pkg/opni/util/render.go
  pkg/test/environment.go
  pkg/test/mock/mockgen.yaml
  pkg/test/mock/update/update.go
  pkg/update/errors.go
  pkg/update/kubernetes/client/client.go
  pkg/update/kubernetes/client/client_test.go
  pkg/update/kubernetes/server/server.go
  pkg/update/kubernetes/server/server_test.go
  pkg/update/noop/noop.go
  pkg/update/noop/server.go
  pkg/update/patch/client/client_test.go
  pkg/update/patch/server/server.go
  pkg/update/patch/server/server_test.go
  pkg/update/server.go
  pkg/update/server_test.go
  pkg/update/suite_test.go
  pkg/update/update.go
  pkg/urn/urn.go
  pkg/urn/urn_test.go
  web/vue.config.js
Labels: bug, enhancement, tech debt, gateway/api, gateway/plugins, priority/high, complexity/medium

#1557 Include dynamic information (cluster friendly name) in Alarms
  controllers/core_alerting_controller_test.go
  pkg/alerting/cache/cache.go
  pkg/alerting/cache/cache_suite_test.go
  pkg/alerting/cache/cache_test.go
  pkg/alerting/client/client.go
  pkg/alerting/client/client_suite_test.go
  pkg/alerting/client/client_test.go
  pkg/alerting/drivers/config/message.go
  pkg/alerting/drivers/config/receiver.go
  pkg/alerting/drivers/cortex/cortex.go
  pkg/alerting/drivers/routing/default.go
  pkg/alerting/drivers/routing/routing.go
  pkg/alerting/drivers/routing/routing_test.go
  pkg/alerting/extensions/api.go
  pkg/alerting/extensions/cache.go
  pkg/alerting/extensions/embedded_server.go
  pkg/alerting/extensions/embedded_server_test.go
  pkg/alerting/message/message.go
  pkg/alerting/metrics/construct.go
  pkg/alerting/server/server.go
  pkg/alerting/server/sync/sync.go
  pkg/alerting/shared/shared.go
  pkg/alerting/storage/clientset.go
  pkg/alerting/storage/opts/opts.go
  pkg/alerting/storage/storage_test.go
  pkg/alerting/templates/message.go
  pkg/alerting/templates/templates_test.go
  pkg/apis/alerting/v1/alerting.condition.pb.go
  pkg/apis/alerting/v1/alerting.condition.proto
  pkg/apis/alerting/v1/extensions.go
  pkg/apis/alerting/v1/validate.go
  pkg/resources/alerting/base.go
  pkg/resources/gateway/alerting.go
  pkg/resources/gateway/configmap.go
  pkg/test/alerting/alert_router_gen.go
  plugins/alerting/pkg/alerting/admin.go
  plugins/alerting/pkg/alerting/alarms/v1/component.go
  plugins/alerting/pkg/alerting/alarms/v1/setup.go
  plugins/alerting/pkg/alerting/alarms/v1/streams.go
  plugins/alerting/pkg/alerting/drivers/alerting_manager/cluster_driver.go
  plugins/alerting/pkg/alerting/drivers/alerting_manager/gateway_driver.go
  plugins/alerting/pkg/alerting/drivers/alerting_manager/helpers.go
  plugins/alerting/pkg/alerting/drivers/drivers.go
  plugins/alerting/pkg/alerting/endpoints/v1/component.go
  plugins/alerting/pkg/alerting/endpoints/v1/server.go
  plugins/alerting/pkg/alerting/notifications/v1/component.go
  plugins/alerting/pkg/alerting/notifications/v1/server.go
  plugins/alerting/pkg/alerting/ops/ops.go
  plugins/alerting/pkg/alerting/ops/reconcile.go
  plugins/alerting/pkg/alerting/plugin.go
  plugins/alerting/pkg/alerting/system.go
  plugins/alerting/test/test_drivers.go
  plugins/alerting/test/test_plugin.go
  test/plugins/alerting/alerting_test.go
  test/plugins/alerting/metrics_test.go
  test/plugins/alerting/routing_test.go
  test/web/agents_test.go
Labels: enhancement, alerting
