Repository rancher/opni, pull requests merged in 2023-03, with the labels that each got.

#987 OEP Opni Alerting : CortexAlertManager as a notification system
  enhancements/alerting/20230127-cortex-alertmanager.md
Labels: alerting, OEP

#1129 check all installed capabilites in alarm status
  plugins/alerting/pkg/alerting/api_conditions.go
Labels: bug, alerting

#964 OEP for Identify metrics that match known anomaly chart patterns
  enhancements/aiops/20230120-Identify-metrics-that-match-known-anomaly-chart-patterns.md
Labels: OEP

#1086 OEP: Enabling GPU services when submitting training job
  enhancements/aiops/20230216-enable-gpu-services-training.md
Labels: aiops, OEP

#1181 Update opensearch query for getting log counts by deployment
  plugins/aiops/pkg/gateway/aggregation.go
Labels: bug, aiops

#1186 alerting tests data race fix
  pkg/test/test_cluster_driver.go
  pkg/util/http_test.go
Labels: bug, testing, alerting

#1013 OEP: tenant impersonation
  enhancements/monitoring/20230131-tenant-impersonation.md
Labels: enhancement, agent, plugin/metrics, OEP

#1212 better handle cluster cache endpoint
  pkg/test/test_cluster_driver.go
  plugins/alerting/pkg/alerting/ops/ops.go
Labels: bug, alerting

#1237 Pulumi sdk updates
  infra/config.go
  infra/main.go
  infra/pkg/aws/aws.go
  infra/pkg/aws/kubernetes.go
Labels: bug, dependencies

#1210 OEP: Capability Options
  enhancements/gateway/20230309-customize-capabilty-install.md
  enhancements/gateway/img/capability-options.png
Labels: OEP

#1254 OEP: Cortex Config Options
  enhancements/monitoring/20230328-cortex-config-options.md
Labels: OEP
